# Ignore other all files
/*

# Keep directory
!.vimperator
!.vimperatorrc
.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/macros

#Mac AutoMator Services
.DS_Store

# Keep files
!.gemrc
!.gitconfig
!.gittemplate
!.profile
!.gitignore

# Keep workflows
!.pc_workflows
GPATH
GRTAGS
GTAGS
