# Ignore other all files
/*

# Keep directory
!.vim
.vim/.netrwhist

!.vimperator
.vimperator/info/default/history-command
.vimperator/info/default/history-search
.vimperator/info/default/local-marks
.vimperator/info/default/macros

#Mac AutoMator Services
!Library
Library/*
!Library/Services
.DS_Store

!.zshcustomrc
!bin

# Keep files
!.bashrc
!.gemrc
!.gitconfig
!.gittemplate
!.profile
!.tmux
!.vimperatorrc
!.vimrc
!.gitignore
