<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wpcutil</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0F4B4E0A-14D3-4BCA-AD22-C65CCAD5F954</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9C55C35-4389-44DC-9A43-F8EA2AB0790E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A24ADA26-36F3-4A65-96F2-EB26EAF1AEB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C562B8B4-B90F-4C15-96E8-A5E976C87EF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C67BDE1-024A-4768-A02B-10A09004C9AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96007AEF-4F96-458A-A1E1-8061934D2B87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C96EB045-E538-45C7-9EAC-8A11F5F92A66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E2ED9EB-036B-4CF4-A511-7FC315DEC87F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B9169CAA-0BC1-498B-A0F8-976113631710</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>WPC</string>
	<key>description</key>
	<string>To terminal &amp; Change inputsource to US.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AppSwitchWithInputSource</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tt</string>
				<key>subtext</key>
				<string>Open Terminal and switch input source to US</string>
				<key>text</key>
				<string>Goto Terminal</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C562B8B4-B90F-4C15-96E8-A5E976C87EF7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Utilities/Terminal.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2C67BDE1-024A-4768-A02B-10A09004C9AA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  -- changeInputLanguage("U.S.")
end alfred_script

on changeInputLanguage(L)	tell application "System Events" to tell process "SystemUIServer"		tell (1st menu bar item of menu bar 1 whose value of attribute "AXDescription" is "text input")			return {its value, click, click menu 1's menu item L}		end tell	end tellend changeInputLanguage
</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>86FB88AD-82E1-41D2-9C04-5B30E2488853</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./xkbswitch -s -e US</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96007AEF-4F96-458A-A1E1-8061934D2B87</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ww</string>
				<key>subtext</key>
				<string>Switch to wangwang</string>
				<key>text</key>
				<string>Goto Wangwang</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0F4B4E0A-14D3-4BCA-AD22-C65CCAD5F954</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/AliWangwang.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>B9C55C35-4389-44DC-9A43-F8EA2AB0790E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    -- your script here
    -- changeInputLanguage("搜狗五笔")
    tell application "AliWangwang"
        activate
        tell application "System Events"
            tell process "AliWangwang"
                if (count of q)&gt;0 then
                    keystroke "f" using {command down, shift down}
                    keystroke q
                end if
            end tell
        end tell
    end tell
end alfred_script

on changeInputLanguage(L)	tell application "System Events" to tell process "SystemUIServer"		tell (1st menu bar item of menu bar 1 whose value of attribute "AXDescription" is "text input")			return {its value, click, click menu 1's menu item L}		end tell	end tellend changeInputLanguage</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A24ADA26-36F3-4A65-96F2-EB26EAF1AEB3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>qq</string>
				<key>subtext</key>
				<string>Switch to QQ</string>
				<key>text</key>
				<string>Goto QQ</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C96EB045-E538-45C7-9EAC-8A11F5F92A66</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/QQ.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>2E2ED9EB-036B-4CF4-A511-7FC315DEC87F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  -- changeInputLanguage("搜狗五笔")
    tell application "QQ"
        activate
        tell application "System Events"
            tell process "QQ"
                if (count of q)&gt;0 then
                    keystroke "f" using {command down, shift down}
                    keystroke q
                end if
            end tell
        end tell
    end tell

end alfred_script

on changeInputLanguage(L)	tell application "System Events" to tell process "SystemUIServer"		tell (1st menu bar item of menu bar 1 whose value of attribute "AXDescription" is "text input")			return {its value, click, click menu 1's menu item L}		end tell	end tellend changeInputLanguage</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>B9169CAA-0BC1-498B-A0F8-976113631710</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0F4B4E0A-14D3-4BCA-AD22-C65CCAD5F954</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>2C67BDE1-024A-4768-A02B-10A09004C9AA</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>2E2ED9EB-036B-4CF4-A511-7FC315DEC87F</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
		<key>86FB88AD-82E1-41D2-9C04-5B30E2488853</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>96007AEF-4F96-458A-A1E1-8061934D2B87</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>A24ADA26-36F3-4A65-96F2-EB26EAF1AEB3</key>
		<dict>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>B9169CAA-0BC1-498B-A0F8-976113631710</key>
		<dict>
			<key>ypos</key>
			<real>880</real>
		</dict>
		<key>B9C55C35-4389-44DC-9A43-F8EA2AB0790E</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C562B8B4-B90F-4C15-96E8-A5E976C87EF7</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>C96EB045-E538-45C7-9EAC-8A11F5F92A66</key>
		<dict>
			<key>ypos</key>
			<real>770</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.5wpc.info</string>
</dict>
</plist>
