<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>wpcweb</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>031CBD14-AFF9-4779-B955-BDA65B210EA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1430E03-D41F-41A0-93B4-FAFF100176AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1DF7F93A-ED75-41AF-A865-96252A65647A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61DE8ACB-6762-4B7C-ABCD-C59B9E526B1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>549F9177-8635-48FF-A92A-979B8DCA2B22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2458121B-6E3B-4B44-9AE3-AEBF778127E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B52FBEB1-259A-4CDC-9C8C-4E5B39B743F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1A60E08E-A305-44D1-ADF3-11D0FF9FDF81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F7186386-DD82-4A3A-AFFC-4F2CC782AB2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EABE921-6B07-400E-9A4D-B333853CF404</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FC6F99AB-B8E3-42B1-8E2C-088772C04032</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>937A0653-B847-44DA-A75E-BFF1A12A1A35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>WPC</string>
	<key>description</key>
	<string>Web quick link</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WebBookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>oc</string>
				<key>subtext</key>
				<string>opencode.alibaba-inc.com gerrit review</string>
				<key>text</key>
				<string>Opencode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://opencode.alibaba-inc.com:8080/#/dashboard/self</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>11D5721D-E45C-4D45-82C8-2CC370002271</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bi</string>
				<key>subtext</key>
				<string>http://binary.aliyun.com/</string>
				<key>text</key>
				<string>binary.aliyun.com</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1DF7F93A-ED75-41AF-A865-96252A65647A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://binary.yunos.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>61DE8ACB-6762-4B7C-ABCD-C59B9E526B1B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>a20</string>
				<key>subtext</key>
				<string>A20 Chip bugs</string>
				<key>text</key>
				<string>Kelude A20</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FC6F99AB-B8E3-42B1-8E2C-088772C04032</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://k3.alibaba-inc.com/issue?projectId=40654808#filter/filterType=Basic|statusId=28+30+32+34|assignedToId=|verifierId=|userId=|subject=|id=|templateId=|solutionId=|priorityId=|seriousLevelId=|pid=|statusHistory=</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>937A0653-B847-44DA-A75E-BFF1A12A1A35</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tvc</string>
				<key>subtext</key>
				<string>tvcode.alibaba-inc.com gerrit review</string>
				<key>text</key>
				<string>TVCode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>549F9177-8635-48FF-A92A-979B8DCA2B22</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://tvcode.alibaba-inc.com/#/dashboard/self</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2458121B-6E3B-4B44-9AE3-AEBF778127E7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://rbuild.yunos-inc.com:8080/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8EABE921-6B07-400E-9A4D-B333853CF404</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rbuild</string>
				<key>subtext</key>
				<string>http://rbuild.yunos-inc.com:8080/</string>
				<key>text</key>
				<string>rbuild IDE</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F7186386-DD82-4A3A-AFFC-4F2CC782AB2A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tvbuild</string>
				<key>subtext</key>
				<string>http://tvbuild.alibaba-inc.com:8080/</string>
				<key>text</key>
				<string>tvbuild IDE</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B52FBEB1-259A-4CDC-9C8C-4E5B39B743F7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://tvbuild.alibaba-inc.com:8080/user/pengcheng.wang/my-views/view/Allwinner/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1A60E08E-A305-44D1-ADF3-11D0FF9FDF81</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>a31</string>
				<key>subtext</key>
				<string>A31S Chip bugs</string>
				<key>text</key>
				<string>Kelude A31S</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>031CBD14-AFF9-4779-B955-BDA65B210EA2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://k3.alibaba-inc.com/issue?versionId=1245686</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D1430E03-D41F-41A0-93B4-FAFF100176AA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
  -- changeInputLanguage("U.S.")
  do shell script "$HOME/.pc_workflows/alfredsync/Alfred.alfredpreferences/workflows/user.workflow.3D1D5535-6A3F-4261-BF63-57C159B99411/xkbswitch -s -e US"
end alfred_script

on changeInputLanguage(L)	tell application "System Events" to tell process "SystemUIServer"		tell (1st menu bar item of menu bar 1 whose value of attribute "AXDescription" is "text input")			return {its value, click, click menu 1's menu item L}		end tell	end tellend changeInputLanguage</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>031CBD14-AFF9-4779-B955-BDA65B210EA2</key>
		<dict>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>11D5721D-E45C-4D45-82C8-2CC370002271</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>1A60E08E-A305-44D1-ADF3-11D0FF9FDF81</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>1DF7F93A-ED75-41AF-A865-96252A65647A</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2458121B-6E3B-4B44-9AE3-AEBF778127E7</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>549F9177-8635-48FF-A92A-979B8DCA2B22</key>
		<dict>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>61DE8ACB-6762-4B7C-ABCD-C59B9E526B1B</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8EABE921-6B07-400E-9A4D-B333853CF404</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>937A0653-B847-44DA-A75E-BFF1A12A1A35</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B52FBEB1-259A-4CDC-9C8C-4E5B39B743F7</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>CF1D7A0B-A0E6-412E-90E8-FA63307FD29E</key>
		<dict>
			<key>ypos</key>
			<real>970</real>
		</dict>
		<key>D1430E03-D41F-41A0-93B4-FAFF100176AA</key>
		<dict>
			<key>ypos</key>
			<real>800</real>
		</dict>
		<key>F7186386-DD82-4A3A-AFFC-4F2CC782AB2A</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>FC6F99AB-B8E3-42B1-8E2C-088772C04032</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.5wpc.info</string>
</dict>
</plist>
