<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>10C027A3-03D3-4F60-BF60-36B7A1B12F6C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baidu</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Baidu Search for '{query}'</string>
			<key>url</key>
			<string>http://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>83E88849-7D26-4D00-94E4-4BEA9D930686</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>work</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>AlibabaWork for '{query}'</string>
			<key>url</key>
			<string>https://work.alibaba-inc.com/work/search?keywords={query}&amp;type=all</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BBFF8F02-0A1E-4F4C-99CA-57916FE31C3C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zhsearch</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>知乎问题 {query}</string>
			<key>url</key>
			<string>http://www.zhihu.com/search?type=content&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E01321D2-13F8-4525-88E8-D4C63227B351</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>rdoc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Ruby Doc Search for {query}</string>
			<key>url</key>
			<string>http://ruby-doc.com/search.html?q={query}&amp;sa=Search</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
