<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>info.5wpc.tools.search</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7C213579-4159-4749-8EE7-2052EA15EF2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD99D0D8-77A4-46C2-81D8-1E30181D13FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FD99D0D8-77A4-46C2-81D8-1E30181D13FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C4E2D139-4585-451F-914E-9F20129D20C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>wpc</string>
	<key>description</key>
	<string>Search file in the special directory</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Look file in Directories</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>dl</string>
				<key>scopes</key>
				<array>
					<string>~/Downloads</string>
				</array>
				<key>subtext</key>
				<string>Looking for folders</string>
				<key>title</key>
				<string>Find a Match Folder in Download</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>7C213579-4159-4749-8EE7-2052EA15EF2F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C4E2D139-4585-451F-914E-9F20129D20C7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict/>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>FD99D0D8-77A4-46C2-81D8-1E30181D13FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search files in directory in alfred</string>
	<key>uidata</key>
	<dict>
		<key>7C213579-4159-4749-8EE7-2052EA15EF2F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C4E2D139-4585-451F-914E-9F20129D20C7</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>FD99D0D8-77A4-46C2-81D8-1E30181D13FD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>ww.5wpc.info</string>
</dict>
</plist>
